/* || Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: #fff;
  --black: #000;
  --grey-950: #08070b;
  --grey-900: #14131b;
  --grey-850: #18171f;
  --grey-800: #24232c;
  --grey-700: #54535b;
  --grey-600: #817d92;
  --grey-200: #e6e5ea;
  --green-200: #a4ffaf;
  --yellow-300: #f8cd65;
  --orange-400: #fb7c58;
  --red-500: #f64a4a;
  --gradient: linear-gradient(#14131b;, #08070b);
}

@font-face {
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/jetbrains-mono-v24-latin-700.woff2') format('woff2');
  font-family: 'JetBrains Mono';
  font-display: swap;
}

/* || Main Styles */
